hr
if isInRole 'admin'
	form
		h3 布置作业
		.ui.labeled.input
			input.form-control(type='text' name='title' placeholder='作业标题' data-parsley-minlength='1' data-parsley-trigger='keyup' required)

		.ui.labeled.input
			input.form-control(type='text' name='ddl' placeholder='截止日期' data-parsley-minlength='2' data-parsley-trigger='keyup' required)
		br
		br
		textarea.form-control(rows='3' cols='20' name='require' placeholder='作业要求' data-parsley-minlength='2' data-parsley-trigger='keyup' required)

		.ui.button.clear 清除
		.ui.button.positive.submit 发布