#modify.hide

  p modify assignment
  button.homepage-button homepage
  form.modify
    div
      span title:
      input(type='text', name='title', required)
    div
      span deadline:
      input(type='date', name='deadline', reuqired)
    div
      span content:
      textarea(name='content', reuqired)
    div
      span modify:
      input(type='submit', value='modify', required)

  hr