#submit.hide
  p submit a homework
  button.homepage-button homepage
  form.submit
    div
      span title:
      input(type='text', name='title', required)

    div
      span content:
      textarea(name='content', required)

    div
      span submit:
      input(type='submit', value='submit', required)
