head
	title my-homework
	meta(charset='utf-8')
body
	.container
		if currentUser
			+header
			+listview
		else
			+login
			+register
		if hasErr
			+errMessage

template(name="header")
	.row
		.col-md-2.h3 Hello #{currentUser.username}
		.col-md-4.h3 #{currentUser.profile.role}
		.col-md-2.col-md-offset-4
			button(class='btn btn-lg btn-danger btn-block LogOut') Log Out

template(name="errMessage")
	.row
		.col-md-2.h3 Error: 
		.col-md-4.h3 #{errMessage}