template(name='listview')
	.container
		if roleIsTeacher
			if stateIs 'listview'
				+assign
			else if stateIs 'detail'
				+detail
			else if stateIs 'assignment-detail'
				+assignmentDetail
				
		else
			if stateIs 'listview'
				+submit
			else if stateIs 'detail'
				+detail

template(name='assignment')
	.panel.panel-default
		.row
			.col-md-3.h3 作业名称:#{assName}
			.col-md-2.h3 老师:#{teacherName}
			.col-md-7.h3 截止时间:#{assDeadline}
		.row
			.col-md-2.h3 作业要求
			.col-md-8.h3 #{assRequire}
			.col-md-2
				if roleIsTeacher
					button.btn.btn-info.assignment-detail(type="button") 查看
				else
					button.btn.btn-info.show-detail(type="button") 查看
