#homefull.jumbotron
  .top-holder
  .container
    h1 Welcome #{user.username}
    h3 Please choose your options :
    p: a.btn.btn-primary.btn-lg(href='/info', role="button") Check your informations
      span.left-holder
      span.glyphicon.glyphicon-user(aria-hidden="true")
    p: a.btn.btn-primary.btn-lg(href='/allhomeworks', role="button") Read all the homeworks
      span.left-holder
      span.glyphicon.glyphicon-check(aria-hidden="true")
    if (userIsTeacher)
      p
        a.btn.btn-primary.btn-lg(href='/create', role="button") Create new homeworks
          span.left-holder
          span.glyphicon.glyphicon-plus(aria-hidden="true")
    else
      p: a.btn.btn-primary.btn-lg(href='/check/#{user.username}', role="button") Check your submissions
        span.left-holder
        span.glyphicon.glyphicon-check(aria-hidden="true")
