#homefull.jumbotron
  .top-holder
  .container.my
    h1 Hello #{user.firstName}
    h3 Your Homework
    h4 I am so sorry that I haven't completely finish this part yet. Thanks for visiting. Have a nice day