head
  title myHomework

body
  h1 MyHomework
  +loginButtons
  if isAdmin
    +teacher
  else
    +student     
  
template(name='teacher')
  h2 assignments
  h2 All Homeworks
  a(href='/') publish

template(name='student')
  h2 assignments
  h2 My Homework
  a(href='/') submmit
