template(name='homeworkUpload')
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/") MyHomework
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href="/allhomework") All->
					li
						a(href="/assignmentdetail/#{_id}")
							| #{title}->
							
					li.active
						a(href="#")
							| Upload
							span.sr-only (current)
				ul.nav.navbar-nav.navbar-right
					li
						a(href="#") wellcome,
					li
						a(href="#") {{> loginButtons}}

	.container.addmargintop2
		.col-md-12
			h1.text-center.margin-bottom-15.addmarginbottom Upload your homework
			form.form-horizontal.templatemo-contact-form-2.templatemo-container(role="form", action="/uploadhomework/#{_id}", method="post")
				.row
					.col-md-12
						.form-group
							.col-sm-12
								.templatemo-input-icon-container
									|Title:
									input#title.form-control(name="title", type="title", placeholder="Title",required)
						.form-group
							.col-sm-12
								.templatemo-input-icon-container
									|Homework Name:
									input#disabledInput.form-control(name="assignmentname", type="title", value="#{title}", disabled="")
						.form-group
							.col-sm-12
								.templatemo-input-icon-container
									|Details:
									textarea#details.form-control(name="details", rows="10", cols="50", placeholder="Details",required)
	
				.form-group
					.col-md-12
						input.btn.btn-warning.center-block(type="submit", value="Upload")
