head
  title MyHomework
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  script(type="text/javascript", src="/js/jquery.min.js")
  script(type="text/javascript", src="/js/bootstrap.min.js")

  link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
  link(rel='stylesheet', href='/stylesheets/setAssignment.css')
  script(type="text/javascript", src="/js/bootstrap-datetimepicker.min.js")
  script(type="text/javascript", src="/js/assignment/setAssignment.js")
  script(type="text/javascript", src="/ueditor/ueditor.config.js")
  script(type="text/javascript", src="/ueditor/ueditor.all.min.js")
  script(type="text/javascript", src="/ueditor/lang/zh-cn/zh-cn.js")
  //- link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
body
  nav.navbar.navbar-inverse
      a(class='navbar-brand back') 首页
  if currentuser
    +home
    +submitAssignmentList
    if isteacher
      +teacher
    else
      +student
  else
    +user
  
  

