.main
  form.form-horizontal
    .form-group
      label.col-sm-2.control-label(for='description') 简述
      .col-sm-8
        input.form-control(type='text' name='description' id='description' placeholder='简述' required)

    .form-group
      label.col-sm-2.control-label(for='deadline') 截止日期
      .col-sm-8
        input.form-control(type='datetime-local' name='deadline' id='deadline' required)

    .form-group
      label.col-sm-2.control-label(for='requirement') 要求
      .col-sm-8
        input.form-control(type='text' name='requirement' id='requirement' placeholder='要求' required)

    .form-group
      .col-sm-offset-2.col-sm-8
        input.btn.btn-primary(type='submit' value='修改')