head
  title myHomework

body
  h1 MyHomework
  +loginButtons
  if isAdmin
    +teacher
  else if isLoged
    +student     
  
template(name='teacher')
  p #{text}
  br
  button.assign assignments
  br
  button.homeworks All Homeworks
  br
  button.publish publish
  if showAssignments
   +assignments
  if showHomework
   +Homework
  if showPublish
   +publish

template(name='student')
  br
  button.assign assignments
  br
  button.Homework My Homework
  if showAssignments
   +assignments
  if showHomework
   +Homework

template(name = 'assignments')
 ol
    each ASSIGNMENTS
      li
        div.ass
          |Deadline #{date}
          br
          |Assignments
          br
          pre #{content}
         



template(name = 'Homework')
 h2 Homework

template(name = 'publish')
 form.publish
    div.publishHomework
      input(type = 'date', name = 'date', class ='form-control', min = '1970-01-01', max = '2027-01-01', required)
      textarea(name = 'publish', class='form-control')
      br
      button(class='btn btn-lg btn-primary btn-block', type='submit') Publish
