if isHandingInAnswer
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title  Hand In Answer
          div.signup-wall
           form(class='form-signin', action='/hand_in', method='POST')
              textarea(rows="12", cols="113", name="answer_content", placeholder='Your Answer', class='form-control')
              button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
              a(href='/', class='text-center  return-home') Back