if isPublishingHomework
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title Modify Homework
         each homework
          div.signup-wall
           form(class='form-signin', action='/republish', method='POST')
              input(type="hidden", name="homework_id")
              input(type='text', name='homework_title', class='form-control', value = "#{title}",required, readonly)
              input(type='date', name='homework_deadline', class='form-control', value = "#{deadline}",required)
              textarea(rows="12", cols="113", name="homework_demand", placeholder='Homework demand', class='form-control') #{demand}
              button(class='btn btn-lg btn-primary btn-block', type='submit') Republish
            a(href='/', class='text-center return-home') Back