if isPublishingHomework
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title Publish Homework
          div.signup-wall
           form(class='form-signin', action='/publish', method='POST')
              input(type='text', name='homework_title' class='form-control', placeholder='Homework Title',required)
              input(type='date', name='homework_deadline', class='form-control', placeholder='Deadline',required)
              textarea(rows="12", cols="113", name="homework_demand", placeholder='Homework demand', class='form-control')
              button(class='btn btn-lg btn-primary btn-block', type='submit') Publish
            a(href='/', class='text-center return-home') Back