<template name="list">
  <div class="trans-wrapper">
    {{#each requireList}}
    <div class="{{#if turnToNextRow index}}row{{else}}{{/if}}">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{title}} <i class="mdi-navigation-more-vert right"></i></span>
            <p><a href="/requirement/{{alias}}">Read More</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4" style="line-height:1.6;">{{title}}<i class="mdi-navigation-close right"></i></span>
            <p>{{description}}</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</template>