#submit
  button.homepage-button.ui.button.green homepage

  .ui.divider.hidden

  form.submit.ui.form.segment
    .ui.label.ribbon.teal submit a homework

    .ui.divider.hidden

    div.field
      label title
      input(type='text', name='title', required)

    div.field
      label content:
      textarea(name='content', required)

    div
      button.submit-button.ui.button.blue submit
