head
  title my-homework
  meta(charset='utf-8')
  link(rel='stylesheet' href='http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css')
body
  div.nav-bar.navbar-fixed-top.navbar-inverse
    div.navbar-header
     span.navbar-brand(href='#') High-level homework system
    
  +yield

  script(src='http://libs.baidu.com/jquery/2.0.0/jquery.min.js')
  script(src='http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js')
