head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
body
   +login
   +signup
   +home
   +publish_homework
   +hand_in_answer
   +show_homework
   +modify_homework
   +view_answers