if isShowingHomework
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title  Homework Message
         each homework
          div.signup-wall
           form(class='form-signin', action='/show', method='POST')
              input(type='text', name='homework_title' class='form-control', value = "#{title}",required, readonly)
              input(type='text', name='homework_master' value = "#{master}", class='form-control' readonly)
              input(type='text', name='homework_deadline', class='form-control',value = "#{deadline}",required, readonly)
              textarea(rows="12", cols="113", name="homework_demand", class='form-control', readonly) #{demand}
              if isStudent
                button(class='btn btn-lg btn-primary btn-block hand-in-answer', type='submit') Hand In Answer
              if isTeacher
                button(class='btn btn-lg btn-primary btn-block modify-homework', type='submit') Modify Homework
            a(href='/', class='text-center view-answer') View Answer
            br
            br
            a(href='/', class='text-center return-home') Back