if isViewingAnswer
   h1.text-center.login-title All Answers:
      each answers
        div.signup-wall
            label Homework Title
            input(type="text", name="homework_title",  value = "#{homeworkTitle}" readonly)
            label Homework By
            input(type="text", name="master", value=" #{master}" readonly)
            label Score
            input(type="text", name="score", value=" #{score}" readonly)
            textarea(rows="12", cols="113", name="answer_content", placeholder='Your Answer', class='form-control' readonly) #{content}
    a(href='/', class='text-center return-home') Back