head
  title SYSU Homework system
  link(rel='stylesheet', href='stylesheets/style.css')
  link(rel='stylesheet', href='stylesheets/bootstrap.min.css')

body
  nav.navbar.navbar-default(role='navigation')
    h2 SYSU Homework system
    .navbar-center
      +loginButtons

  +assignment
