head
  title homeworksystem
  meta(charset='utf-8')
  link(rel='stylesheet', href='lib/parsley/src/parsley.css')
  link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='stylesheets/style.css')
  script(src='lib/parsley/dist/parsley.js') 

body
    +loginview
    +signupview
    +studentview
    +teacherview
