#group-list
  .ui.horizontal
    .ui.one.column.grid
      .group.column
        .ui.raised.segment
          a.ui.ribbon.label.teal 所有作业
          p
            each homeworks
              a(class='ui label homework',title="时间：#{date}",href='/#{_id}',id='#{_id}') #{title}
  
