template(name = "create")
  body
    nav(class='navbar navbar-inverse navbar-fixed')
      div(class='container')
        div.row
          div.col-md-8
            div(class='navbar-head')
              a(class='navbar-brand', href) HomeWork
            div(class='navbar-collapse collapse' id='navbar')
              ul(class = 'nav navbar-nav')
                li
                  a(href='/home') home
                li
                  a(href='/profile') profile
                li.active
                  a(href='/create') create
                li
                  a(href='/history') history
                li
                  a(href='/homework') homework
          div.col-md-4
            ul.nav.navbar-nav
              li
                a.navbar-link.nav #{user.username}
              li
                a(href="/" class="navbar-link") Log out
    div.container
      div.row.col-md-offset-2.col-md-8
        form(class ='form-horizontal', method = 'post' action= '/create')
          fieldset
            #legend
              legend Homework
            div.col-md-3
              .control-group
                // Text input
                label.control-label(for='input01') HomeWork
                .controls
                  input.input-xlarge(type='text', name = 'homework')
              .control-group
                // Text input
                label.control-label(for='input01') Course
                .controls
                  input.input-xlarge(type='text', name = 'course')
                label.control-label(for='input01') Author
                .controls
                  input.input-xlarge(type='text', name = 'author', value = '#{user.username}')
                label.control-label(for='input01') Deadline Date
                .controls
                  input(type='date', name = 'deadline')
                label.control-label(for='input01') Deadline Time
                .controls
                  input(type = 'time', name = 'time')
              .control-group
                .controls
                  button.btn.btn-success.submit Create
            div.col-md-5
              label.control-label detail
              .textarea
              textarea(class = 'from-control', rows = '5', cols='60', name='detail')  